@use "./variables" as *;
@use "./mixins" as *;

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 80px;
  width: 100%;

  @include vp-767 {
    max-width: 375px;
    padding: 0 20px;
  }
}
