//COLORS

$color-white: #FFFFFF;
$color-white-25: rgba(255, 255, 255, 0.25);
$color-white-33: rgba(255, 255, 255, 0.33);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-70: rgba(255, 255, 255, 0.7);
$color-black: rgba(0, 0, 0);
$color-black-40: rgba(0, 0, 0, 0.4);
$color-black-50: rgba(0, 0, 0, 0.5);
$color-black-70: rgba(0, 0, 0, 0.7);
$color-red: #FF7575;
$color-pink: #DC5DFC;
$color-purple: #6A5DC2;
$color-gray: #393B3C;
$color-dark-gray: #232424;
$color-green: #308E21;

$color-blue: #67A5EB;
$color-darker-blue: #1381E8;



//FONTS
$ff-play: "Play", sans-serif;


//VIEWPORTS
$vp-mobile: 767px; 

$transition-300: 0.3s ease-in;