@use "../global/variables" as *;
@use "../global/mixins" as *;

.auth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-black-50;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &__wrapper {
    position: relative;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    padding: 60px 40px;
    border-radius: 24px;
    background-color: $color-white;

    &::-webkit-scrollbar {
      @include vp-767 {
        display: none;
      }
    }

    @include vp-767 {
      width: 335px;
      max-height: 95vh;
      overflow-y: auto;
    }
  }

  &__logo {
    @include vp-767 {
      width: 133px;
      height: 32px;
    }
  }

  &__text {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  &__close-btn {
    border: none;
    padding: 0;
    color: $color-black;
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -60px;
    top: 0;
    transition: color $transition-300;

    &:hover,
    &:focus-visible {
      color: $color-black-50;
    }

    @include vp-767 {
      right: 10px;
      top: 10px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $color-black;
    margin: 16px 0 0;
  }

  &__fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }

  &__link-btn {
    border: none;
    padding: 2px;
    background-color: transparent;
    font-family: $ff-play;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $color-black;
    cursor: pointer;
    transition: color $transition-300;

    &:hover,
    &:focus-visible {
      color: $color-black-50;
    }
  }

  &__error {
    color: $color-red;
  }
}
