@use "../global/variables" as *;

.btn {
  width: 100%;
  background-color: $color-blue;
  color: $color-white;
  font-family: $ff-play;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border: none;
  transition: background-color $transition-300;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: $color-darker-blue;
  }

  &--dark {
    background-color: $color-gray;

    &:hover,
    &:focus-visible {
      background-color: $color-dark-gray;
    }
  }

  &--favorite {
    border-radius: 28px;
    padding: 19px;
    width: 68px;
    height: 56px;

    & svg {
      color: $color-white;
      fill: transparent;
      transition: fill $transition-300, color $transition-300;
    }
  }

  &.filled {
    & svg {
      color: $color-purple;
      fill: $color-purple;
    }
  }
}
