@use "../global/variables" as *;

.filters-page {
  width: 100%;
  padding: 64px 0 160px;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: flex-start;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__back-icon {
    padding: 0;
    display: flex;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: $color-white;
    transition: color $transition-300;

    &:hover,
    &:focus-visible {
      color: $color-white-25;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: $color-white;
  }

  &__list {
    display: flex;
    gap: 64px 40px;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-shrink: 1;
    width: 224px;
    height: 336px;
    border-radius: 16px;
    box-shadow: 0 0 80px 0 $color-white-33;
    border: 1px solid $color-white-25;

    & a {
      width: 100%;
      height: 100%;
      cursor: pointer;
      border-radius: inherit;
    }

    & img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }

  &__loading,
  &__empty {
    margin: 200px auto;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: $color-white-25;
  }

  & button {
    width: 218px;
    margin: 0 auto;
  }
}
