@use "../global/variables" as *;
@use "../global/mixins" as *;

.footer {
  width: 100%;
  padding: 42px 0;

  @include vp-767 {
    padding: 24px 0;
  }

  &__wrapper {
    width: 100%;
    justify-content: flex-end;

    @include vp-767 {
      justify-content: flex-start;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    gap: 24px;

    @include vp-767 {
      justify-content: flex-start;
    }
  }

  &__item {
    display: flex;
    cursor: pointer;

    & a {
      color: $color-white;
      transition: color $transition-300;
    }

    &:hover,
    &:focus-visible {
      a {
        color: $color-white-70;
      }
    }
  }
}
