@use "../global/variables" as *;

.genre-page {
    padding: 64px 0 160px;
    width: 100%;

    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        color: $color-white;
    }

    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 64px 40px;
    }

    &__item {
        width: calc(100% / 4 - 30px);
        border-radius: 24px;
        cursor: pointer;
        box-shadow: 0 0 80px 0 $color-white-33;
        border: 1px solid $color-white-25;

        & img {
            width: 100%;
            height: 220px;
            border-radius: 24px 24px 0 0;
        }
    }

    &__name {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: $color-white;
        width: 100%;
        background-color: $color-black;
        padding: 22px 22px 30px;
        border-radius: 0 0 24px 24px;
    }
}