@use "../global/variables" as *;

.hero {
  width: 100%;
  padding: 32px 0 43px;

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    max-width: 600px;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__top-item {
    font-size: 18px;
    line-height: 24px;
    color: $color-white-70;
    &:nth-child(1) {
      display: flex;
      align-items: center;
      gap: 4px;
      background-color: $color-green;
      border-radius: 16px;
      padding: 4px 12px;
      font-weight: 700;
      color: $color-white;
    }
  }

  &__middle {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    margin-bottom: 44px;
  }

  &__title {
    margin: 0;
    color: $color-white;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: left;
  }

  &__plot {
    text-align: left;

    margin: 0;
    color: $color-white-70;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  &__bottom {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
  }

  &__bottom-item {
    &:nth-child(1),
    &:nth-child(2) {
      min-width: 171px;
    }
  }

  &__btn {
    border-radius: 28px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-gray;
    padding: 19px;
    width: 68px;
    height: 56px;
    color: $color-white;
    transition: background-color $transition-300;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      background-color: $color-dark-gray;
    }
  }

  &__img {
    width: 600px;
    height: 552px;

    & img {
      border-radius: 16px;
      width: 100%;
      height: 100%;
    }
  }
}
