@use "../global/variables" as *;
@use "../global/mixins" as *;

.logo {
  width: 100%;
  height: 100%;

  picture {
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include vp-767 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
