@use "../global/variables" as *;
@use "../global/mixins" as *;

.movie-page {
  width: 100%;
  padding: 32px 0;

  @include vp-767 {
    padding: 0 0 32px;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  &__hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include vp-767 {
      flex-direction: column-reverse;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    max-width: 600px;

    @include vp-767 {
      max-width: 100%;
      gap: 12px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 16px;

    @include vp-767 {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__top-item {
    font-size: 18px;
    line-height: 24px;
    color: $color-white-70;
    &:nth-child(1) {
      display: flex;
      align-items: center;
      gap: 4px;
      background-color: $color-green;
      border-radius: 16px;
      padding: 4px 12px;
      font-weight: 700;
      color: $color-white;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__middle {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    margin-bottom: 44px;

    @include vp-767 {
      gap: 12px;
      margin-bottom: 20px;
    }
  }

  &__title {
    margin: 0;
    color: $color-white;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: left;

    @include vp-767 {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__plot {
    text-align: left;

    margin: 0;
    color: $color-white-70;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    @include vp-767 {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__bottom {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;

    @include vp-767 {
      justify-content: space-between;
    }
  }

  &__bottom-item {
    &:nth-child(1),
    &:nth-child(2) {
      min-width: 171px;

      @include vp-767 {
        min-width: unset;
      }
    }
    &:nth-child(1) {
      @include vp-767 {
        width: 251px;
      }
    }
    &:nth-child(2) {
      @include vp-767 {
        width: 68px;
      }
    }
  }

  &__btn {
    border-radius: 28px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-gray;
    padding: 19px;
    width: 68px;
    height: 56px;
    color: $color-white;
    transition: background-color $transition-300;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      background-color: $color-dark-gray;
    }
  }

  &__img {
    width: 600px;
    height: 552px;

    & img {
      border-radius: 16px;
      width: 100%;
      height: 100%;
    }

    @include vp-767 {
      width: 100%;
      height: 260px;
      margin-bottom: 24px;
    }
  }

  &__details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: flex-start;

    @include vp-767 {
      gap: 40px;
    }
  }

  &__details-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: $color-white;
    margin: 0;

    @include vp-767 {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__details-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 700px;
    width: 700px;

    @include vp-767 {
      max-width: 100%;
      width: 100%;
      gap: 12px;
    }
  }

  &__details-item {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include vp-767 {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 4px;
    }
  }

  &__details-variable {
    max-width: 135px;
    text-align: left;

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
      color: $color-white-50;
    }
  }

  &__details-space {
    flex: 1;
    overflow: hidden;
    margin: 0 12px;

    &::after {
      content: "..............................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................";
      color: $color-white-25;
      white-space: nowrap;
      position: relative;
      top: 0;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__details-value {
    flex-shrink: 0;
    word-break: break-word;
    max-width: 300px;
    width: 190px;
    display: flex;
    justify-content: flex-start;

    @include vp-767 {
      font-size: 18px;
      line-height: 24px;
      color: $color-white;
    }
  }
}
