@use "../global/variables" as *;

.profile {
  padding: 64px 0;
  width: 100%;
  $root: &;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: $color-white;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 64px;
  }

  &__nav-item {
    display: flex;
    position: relative;

    & button {
      width: 100%;
      border: none;
      padding: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      font-family: $ff-play;
      gap: 8px;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      color: $color-white;
      cursor: pointer;
      transition: color $transition-300;
    }

    &.active {
      &::after {
        position: absolute;
        content: "";
        height: 1px;
        background-color: $color-pink;
        width: 100%;
        bottom: -8px;
        left: 0;
      }
    }

    &:hover,
    &:focus-visible {
      & button {
        color: $color-white;
      }
    }

    &:not(&.active) {
      &:hover,
      &:focus-visible {
        & button {
          color: $color-white-50;
        }
      }
    }
  }

  &__list {
    display: flex;
    gap: 64px 40px;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    display: flex;
    flex-shrink: 1;
    width: 224px;
    height: 336px;
    border-radius: 16px;
    box-shadow: 0 0 80px 0 $color-white-33;
    border: 1px solid $color-white-25;

    & a {
      width: 100%;
      height: 100%;
      cursor: pointer;
      border-radius: inherit;
    }

    & img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }

    &:hover, &:focus-visible {
      #{$root}__btn-close {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__btn-close {
    position: absolute;
    border: none;
    top: -18px;
    right: -18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-white;
    padding: 8px;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity $transition-300;
    pointer-events: none;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    max-width: 600px;
    width: 100%;

    & > :nth-child(2) {
      margin-bottom: 24px;
    }

    & button {
      width: 262px;
    }
  }

  &__info-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
    max-width: 482px;
  }

  &__info-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $color-white-50;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;

    & svg {
      color: $color-white;
    }
  }

  &__info-username-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
  }

  &__info-label {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $color-white;
  }

  &__info-value {
    word-break: break-word;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $color-white;
  }
}
