@use "../global/variables" as *;

.search-bar {
  position: relative;
  width: 100%;
  padding: 12px 16px 12px 52px;
  background-color: $color-gray;
  $root: &;
  border-radius: 8px;

  &__icon {
    color: $color-white-50;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    position: absolute;
    transition: color $transition-300;
  }

  &__field {
    font-family: $ff-play;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $color-white;

    &::placeholder {
      transition: color $transition-300;
      font-family: $ff-play;
      color: $color-white-50;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &:hover,
  &:focus-visible {
    #{$root}__field {
      &::placeholder {
        color: $color-white;
      }
    }
    #{$root}__icon {
      color: $color-white;
    }
  }
}
