@use "../global/variables" as *;

.top-films {
  width: 100%;
  padding: 0 0 120px;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: flex-start;
  }

  &__empty {
    margin: 0 auto;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: $color-white;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: $color-white;
  }

  &__list {
    display: flex;
    gap: 64px 40px;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    display: flex;
    flex-shrink: 1;
    width: 224px;
    height: 336px;
    border-radius: 16px;
    box-shadow: 0 0 80px 0 $color-white-33;
    border: 1px solid $color-white-25;

    & a {
      width: 100%;
      height: 100%;
      cursor: pointer;
      border-radius: inherit;
    }

    & img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }

  &__index {
    position: absolute;
    top: -18px;
    left: -18px;
    width: 62px;
    height: 48px;
    border-radius: 50px;
    background-color: $color-white;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $color-purple;
  }
}
