@use "../global/variables" as *;
@use "../global/mixins" as *;

.top-films {
  width: 100%;
  padding: 0 0 120px;

  @include vp-767 {
    padding: 0 0 32px;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: flex-start;

    @include vp-767 {
      gap: 40px;
    }
  }

  &__empty {
    margin: 0 auto;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: $color-white;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: $color-white;

    @include vp-767 {
        font-size: 24px;
        line-height: 32px;
    }
  }

  &__list {
    display: flex;
    gap: 64px 40px;
    flex-wrap: wrap;


    &::-webkit-scrollbar {
      @include vp-767 {
        display: none;
      }
    }

    @include vp-767 {
      width: 100%;
      padding: 30px 20px 30px 20px;
      margin: -30px 0 -30px -20px;
      width: calc(100% + 40px);
      overflow-x: auto;
      overflow-y: hidden;
      flex-wrap: nowrap;
      gap: 40px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: 224px;
    height: 336px;
    border-radius: 16px;
    box-shadow: 0 0 80px 0 $color-white-33;
    border: 1px solid $color-white-25;

    & a {
      width: 100%;
      height: 100%;
      cursor: pointer;
      border-radius: inherit;
    }

    & img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }


    @include vp-767 {
      flex-shrink: 0;
    }
  }

  &__index {
    position: absolute;
    top: -18px;
    left: -18px;
    width: 62px;
    height: 48px;
    border-radius: 50px;
    background-color: $color-white;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $color-purple;
  }
}
